<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level|%-40.40logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="defaultFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <file>${user.dir}/logs/ibbface_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/ibbface_info/%d{yyyy/MM/dd/yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level|${yyyy-MM-dd HH:mm:ss.SSS}|%-15thread|%-40.40logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.ibbface.service" level="debug" />
    <logger name="org.springframework" level="info" />
    <logger name="org.springframework.beans" level="error" />

    <root level="debug">
        <appender-ref ref="console" />
    </root>
</configuration>