<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="freemarkerProperties" location="classpath:/META-INF/config/freemarker.properties" />

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="com.ibbface.interfaces.web.UTF8StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                            <value>application/json;charset=UTF-8</value>
                            <value>application/xml;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.ibbface.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--<mvc:interceptors>-->
        <!--<bean class="com.tonglukuaijian.survey.interceptor.ResourceInterceptor">-->
            <!--<property name="mgrUCenterService" ref="mgrUCenterService" />-->
        <!--</bean>-->
    <!--</mvc:interceptors>-->

    <mvc:resources mapping="/scripts/**" location="/scripts/" />
    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/styles/**" location="/styles/" />

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
          lazy-init="false">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
        <property name="viewNames" value="*.ftl" />
        <property name="contentType" value="text/html; charset=UTF-8" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="requestContextAttribute" value="rc" />
        <property name="prefix" value="" />
        <property name="suffix" value="" />
    </bean>

    <bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties" ref="freemarkerProperties" />
    </bean>

    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape" />
            </map>
        </property>
        <property name="templateLoaderPath" value="/WEB-INF/content" />
        <property name="freemarkerSettings" ref="freemarkerConfiguration" />
    </bean>

    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
</beans>